body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-86px;
  width:1086px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:534px;
  height:878px;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:75px;
  width:534px;
  height:878px;
  display:flex;
}
#u0 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u0_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:394px;
  width:540px;
  height:164px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-13px;
  width:116px;
  height:31px;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:576px;
  top:423px;
  width:100px;
  height:5px;
  display:flex;
  -webkit-transform:rotate(170.314866585189deg);
  -moz-transform:rotate(170.314866585189deg);
  -ms-transform:rotate(170.314866585189deg);
  transform:rotate(170.314866585189deg);
}
#u2 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:494px;
  height:154px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:678px;
  top:399px;
  width:494px;
  height:154px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u3 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
