body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-59px;
  width:1501px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u71_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:667px;
}
#u71 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:48px;
  width:300px;
  height:667px;
  display:flex;
}
#u71 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u71_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u72_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:667px;
}
#u72 {
  border-width:0px;
  position:absolute;
  left:436px;
  top:48px;
  width:300px;
  height:667px;
  display:flex;
}
#u72 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u73_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-13px;
  width:358px;
  height:31px;
}
#u73 {
  border-width:0px;
  position:absolute;
  left:229px;
  top:291px;
  width:342px;
  height:5px;
  display:flex;
  -webkit-transform:rotate(-61.2554526323908deg);
  -moz-transform:rotate(-61.2554526323908deg);
  -ms-transform:rotate(-61.2554526323908deg);
  transform:rotate(-61.2554526323908deg);
}
#u73 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u73_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u74_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:667px;
}
#u74 {
  border-width:0px;
  position:absolute;
  left:845px;
  top:54px;
  width:300px;
  height:667px;
  display:flex;
}
#u74 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u74_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u75_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-13px;
  width:236px;
  height:31px;
}
#u75 {
  border-width:0px;
  position:absolute;
  left:635px;
  top:206px;
  width:220px;
  height:5px;
  display:flex;
  -webkit-transform:rotate(24.4655351106627deg);
  -moz-transform:rotate(24.4655351106627deg);
  -ms-transform:rotate(24.4655351106627deg);
  transform:rotate(24.4655351106627deg);
}
#u75 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u75_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u76_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:667px;
}
#u76 {
  border-width:0px;
  position:absolute;
  left:1260px;
  top:54px;
  width:300px;
  height:667px;
  display:flex;
}
#u76 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u76_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u77_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-13px;
  width:395px;
  height:31px;
}
#u77 {
  border-width:0px;
  position:absolute;
  left:903px;
  top:416px;
  width:379px;
  height:5px;
  display:flex;
  -webkit-transform:rotate(-26.7641460018144deg);
  -moz-transform:rotate(-26.7641460018144deg);
  -ms-transform:rotate(-26.7641460018144deg);
  transform:rotate(-26.7641460018144deg);
}
#u77 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u78_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u78 {
  border-width:0px;
  position:absolute;
  left:1153px;
  top:403px;
  width:89px;
  height:31px;
  display:flex;
}
#u78 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u78_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
